IO_LOC  "o_ELVDS_HDMI_DATA_P[0]" 71,70;
IO_PORT "o_ELVDS_HDMI_DATA_P[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC  "o_ELVDS_HDMI_DATA_P[1]" 73,72;
IO_PORT "o_ELVDS_HDMI_DATA_P[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC  "o_ELVDS_HDMI_DATA_P[2]" 75,74;
IO_PORT "o_ELVDS_HDMI_DATA_P[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC  "o_ELVDS_HDMI_CLK_P" 69,68;
IO_PORT "o_ELVDS_HDMI_CLK_P" PULL_MODE=NONE DRIVE=8;


IO_LOC "i_clk" 52;
IO_PORT "i_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_rst_n" 4;
IO_PORT "i_rst_n" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
